<!doctype html>

<html lang="pt-BR">
<head>
  <meta charset="utf-8">
  <title>Mudança da Status</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" />
  <link rel="stylesheet" type="text/css" href="css/sticky-footer.css">
  <link rel="stylesheet" type="text/css" href="css/bug-tracker.css">
</head>

<body ng-app="bugTracker">

	<ng-include src="'shared/nav.html'"></ng-include>
	
	<div ng-controller="MudancaStatusBug as mudancaStatusBug" class="container">
		<input type="hidden" ng-model="mudancaStatusBug.bug.id" />
		
		<div class="row"><alert mensagem-sucesso="mudancaStatusBug.mensagem" mensagem-erro="mudancaStatusBug.mensagemErro"></alert></div>

		<div class="row page-header">
			<h3>Mudança de Status</h3>
		</div>
				
		<div class="row">
			<label>Nome:</label>
			<span>{{ mudancaStatusBug.bug.nome }}</span>
		</div>
		
		<div class="row">		
			<label>Descrição:</label>
			<span>{{ mudancaStatusBug.bug.eventoAtual.descricao }}</span>
		</div>

		<div class="row">
			<label>Status:</label>
			<span class="label label-default">{{mudancaStatusBug.bug.eventoAtual.tipoStatus}}</span>						
		</div>

		<div class="row">			
			<label>Responsável pelo status:</label>
			<span>{{ mudancaStatusBug.bug.eventoAtual.usuario.nome }}</span>
		</div>
		
		<div class="row">			
			<label>Descrição para mudança de status:</label>
		</div>
		
		<div class="row">			
			<textarea ng-model="mudancaStatusBug.descricao" class="form-control"></textarea>
		</div>

		<div class="row">			
			<label>Deseja mudar o status desse bug para:</label>
		</div>

		<div class="row">
			<button type="button" ng-click="mudancaStatusBug.passaFaseAnterior(mudancaStatusBug.descricao)" ng-show="mudancaStatusBug.bug.tipoStatusAnterior" class="btn btn-danger glyphicon glyphicon-remove"> {{ mudancaStatusBug.bug.tipoStatusAnterior }}</button>
			<button type="button" ng-click="mudancaStatusBug.passaProximaFase(mudancaStatusBug.descricao)" ng-show="mudancaStatusBug.bug.tipoStatusProximo" class="btn btn-success glyphicon glyphicon-ok margin-left"> {{ mudancaStatusBug.bug.tipoStatusProximo }}</button>
		</div>
	</div>
	
	<ng-include src="'shared/footer.html'"></ng-include>

	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
	<script src="js/module/ngStorage.min.js"></script>
	<script src="js/app.bug.js"></script>
	<script src="js/constant/app-config.constant.js"></script>
	<script src="js/service/bug-http.interceptor.js"></script>
	<script src="js/directive/alert.directive.js"></script>
	<script src="js/service/bug.service.js"></script>
	<script src="js/controller/mudanca-status-bug.controller.js"></script>
	<script src="js/controller/login.controller.js"></script>
</body>
</html>